<!--
File name :app.js
Student’s Name: Supriya Kanda
Student ID :301166350
 Date: 09-10-2020
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
  <a class="navbar-brand" href="/">
    <img class="logo" src="images/my-logo.png" alt="">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/secure">Login</a>
    </li>
  </ul>

  <!-- <div class="card-body">
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div> -->
</nav>