<!--
File name :app.js
Student’s Name: Supriya Kanda
Student ID :301166350
 Date: 09-10-2020
-->
<%- include('../partials/head')-%>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/header', {variant:'default'}); %>
        <section id="about">
            <div class="container">
                <h3 class="text-center text-uppercase">About Me</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box text-center">
                            <div class="info">
                                <p>I am Supriya Kanda, I have passion for Information Technology since my grade 12.I
                                    have 2 years of IT experience in Help desk and Manual Testing.
                                    Deep understanding of
                                    programming languages like C, Java, Python, SQL, and frame works of Selenium.
                                    Currently Enrolled in Software Engineering Technician Program to upgrade my skills
                                    and to be ready for the IT world.</p>
                                <p>
                                    My Interests include coding and drafting Project documents and Upgrading myself with
                                    news about latest technologies in the market.
                                </p>
                            </div>
                            <div class="box-icon">
                                <img class="aboutme-photo" src="images/my-photo.png" class="img-circle"
                                    alt="Cinque Terre">


                                <h6 class="text-center text-uppercase">Supriya Kanda</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer')-%>
    </div>
</body>