<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>About Me:</h1>
            <p>
                I am Supriya Kanda, I have passion for Information Technology since my grade 12.I have 2 years of IT experience in Help desk and Manual Testing. Deep understanding of programming languages like C, Java, Python, SQL, and frame works of Selenium. Currently Enrolled in Software Engineering Technician Program to upgrade my skills and to be ready for the IT world.
                My Interests include coding and drafting Project documents and Upgrading myself with news about latest technologies in the market
                </p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>