<!--
File name :app.js
Student’s Name: Supriya Kanda
Student ID :301166350
 Date: 09-10-2020
-->
<%- include('../partials/head')-%>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/header')-%>
        <section id="contact">
            <div class="container">
                <h3 class="text-center text-uppercase">Contact Me</h3>
                <p class="text-center w-75 m-auto">
                    </p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-user fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">Name</h4>
                                <p>Supriya Kanda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">Phone</h4>
                                <p>+6474706754</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">Email</h4>
                                <p>kandasupriya@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-form">
            <div class="container">
                <form method="POST" action="/home">
                    <div class="form-group">
                        <label for="Name">First Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter First Name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="Surname">Last Name</label>
                        <input type="text" class="form-control" id="surname" name="surname"
                            placeholder="Enter Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="4" cols="50">
                                </textarea>
                    </div>
                    <button type="button" class="btn btn-dark">Submit</button>
                </form>
            </div>
    </div>
    <%- include('../partials/footer')-%>
    </div>
</body>
<script>
    window.onload = function () {
        document.getElementById('contact').classList.add('active');
    };
</script>

</html>